
    @font-face {
    font-family: 'Post No Bills Jaffna SemiBold Regular';
    src: url("./PostNoBillsJaffna-SemiBold.woff") format('woff');
    font-style: normal;
    font-weight: normal;
  
    }
    

